body {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto en blanco */
}

h1 {
    font-size: 3em;
    color: #ffcc00; /* Amarillo */
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    color: #ff6666; /* Rojo */
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 0 auto 20px;
}

ol {
    margin-left: 40px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
    background-color: #333; /* Fondo gris oscuro */
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0; /* Márgenes blancos delgados */
}

li ul {
    margin-left: 20px;
    background-color: #444; /* Fondo un poco más claro */
    border-radius: 5px;
    padding: 10px;
}

a {
    color: #ffcc00; /* Amarillo */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff6666; /* Rojo al pasar el mouse */
    text-decoration: underline;
}

/* Botón estilo enlace */
ul li a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ff6666; /* Rojo */
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #ffcc00; /* Amarillo */
    color: #000; /* Texto negro al pasar el mouse */
}
